@media screen and (max-width: 1280px) { 
    div.contentblock {width: 1200px;
    } 
} @media screen and (max-width: 1140px) { 
    div.contentblock {
        width: 1024px;
    } 
} 
@media screen and (max-width: 480px) {
    html .info {
       -webkit-text-size-adjust: none;
    }
    #main-nav a {
       font-size: 90%;
       padding: 10px 8px;
    }
    .wrap{
        width: 301px;
    }
 }
.invalid { border-color: red; }
.error { color: red }



label{
    color:  white;
}

.div{      
 background-color: #182134;
 margin: 250px auto 0 auto;
 text-align: center;
 

}


a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
    color:  white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}
#Avtoriz{
    background-color: #182134;
}